<div class="form__extra-links">

  <%- if devise_mapping.omniauthable? %>
    <%- Devise.omniauth_providers.each do |provider| %>
      <%= link_to image_tag("logos/#{provider}.png") + "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider), class:"button button-oauth #{provider}" %><br /> 

    <% end -%>
  <% end -%>

</div>