.active-filters {
  padding: 15px 30px;
  background-color: rgba(black, .1);
  
  &__item {
    display: inline-block;
    margin-right: 15px;
    @include breakpoint($medium) { margin: 0 15px; }
  }

  .filter-by {
    font-weight: 600;
    text-transform: uppercase;
    @include breakpoint($small-only) { display: block; }
  }  
}

