.category-buttons {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;

  &__item {
    padding: 0;
    @include breakpoint($small-only) {width: calc(100% - 10px);}
    @include breakpoint($medium) {width: calc(50% - 30px);}
    @include breakpoint($large) {width: calc(25% - 10px);}
    margin: 5px;
    list-style: none;
    font-size: 1.2rem;
    background-color: $main-color;
    padding: 20px 10px;
    text-align: center;
    text-transform: uppercase;
    color: $white;
    font-weight: 600;
    box-shadow: 2px 2px 4px rgba(black, .2);

    &:hover,
    &--active { background-color: $accent-color; } // NOTE: Active State for the category filter
  }

}

