a {
  color: currentColor;
  text-decoration: none;
}

body {
  letter-spacing: .5px;
  color: rgba(black, .8);
  font-weight: 400;
  background-color: #FFF;
  padding: 0;
  margin: 0;
}

// Base Structure

.top-bar {
  height: 60px;
}

.app-wrapper {
  @include breakpoint($medium) {
    display: flex;
  }
  height: calc(100vh - 60px);
  overflow: hidden;
  
}

.main-content {
  overflow-x: hidden;
  flex: 1;

  &__container { 
    @include breakpoint($small-only) { height: calc(100vh - 157px); }
    @include breakpoint($medium) { min-width: 650px; }
    @include breakpoint($large) { min-width: 750px; }
    
    display: block;
    overflow-y: scroll;
  }
}



