/* Main Section Generic List */
.list {
  padding: 0;
  margin: 0;

  &__item {
    @include breakpoint($small-only) {
      padding: 15px;  
    }
    padding: 25px 35px;
    list-style: none;

    &:nth-child(odd) { background-color: rgba(black, .02); }
  }
}
