.match-me {
  &__intro {
    @include breakpoint($large) {
      margin-top: 80px;
      margin-bottom: 50px;
    }
    
    font-size: 1.2rem;
    text-align: center;
    text-transform: none;
    font-weight: 300;
  }

  &__question-pre {
    font-size: 1.2rem;
    text-align: center;
    text-transform: none;
  }

  &__question {
    font-size: 1.4rem;
    text-align: center;
    
    @include breakpoint($medium) {
      font-size: 1.8rem;
    }

    @include breakpoint($large) {
      font-size: 2rem;
      margin-bottom: 40px;
      margin-top: 30px;
    }
  }

  &__category-title {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    color: $main-color;
    padding: 8px;
    background-color: rgba($main-color, .2);

    @include breakpoint($medium) {
      font-size: 3rem;
      margin-bottom: 20px;
      margin-top: 20px;
      padding: 15px;
    }
  }

  
}