.person-item {
  @include breakpoint($large) { display: flex; }
  @include breakpoint($small-only) { position: relative;}

  &__picture {
    @extend .u-circle;
    @include breakpoint($medium) {
      width: 100px;
      height: 100px;
    }
    
    width: 40px;
    height: 40px;
    float: left;
  }

  &__content {
    @include breakpoint($small-only) {padding-left: 60px;}
    @include breakpoint($large) { 
      flex: 1;
      display: flex; 
      flex-direction: column;
      padding-left: 40px;
      align-items: flex-start;
    }
  }

  &__credentials { 
    @include breakpoint($large) { flex: 1; }
  }
  
  &__credentials,
  &__tags,
  &__controls { 
   @include breakpoint($medium) { padding-left: 140px; } 
  }

  &__name {
    font-size: 1.2rem;
    font-weight: 600;
    color: rgba(black, .6);
    margin: 0;
  }

  &__job {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
  }

  &__org {
    font-size: .8rem;
    margin: 0;
  }

  &__tags {
   @include breakpoint($medium) { flex: 1; }
  }

  &__tag {
    
  }

  &__projects {
    list-style-type: none;
    color: $main-color;
    font-weight: 800;
  }

  &__controls {
    margin-top: 15px;
  }

  &__pm {
    color: $accent-color;
  }

  &--no-flex {
    flex: 0;
    margin-bottom: 20px;
  }
}