<div class="main-content match-me">
  <div class="main-content__container">
    <h3 class="match-me__intro">Your matches are people who have experience in what you want to learn <br> and have something to learn from you.</h3>

    <div id="survey-container">
      <h4 class="match-me__question-pre">To start getting matched, let’s begin with what you’d like to learn.</h4>

      <h2 class="match-me__question">I want to learn about:</h2>


      <ul class="category-buttons">
        <% @surveys.each do | survey | %>
        <%= link_to survey.category.name, fetch_learning_survey_path(:survey_id => survey.id), class: 'category-buttons__item', :remote => true %>
        <% end %>
      </ul>
    </div>
    <!-- <span id="survey-partial-loader" style="visibility:hidden">loaded</span> -->
  </div>