<div class="main-content match-me">
  <div class="main-content__container">
    <h3 class="match-me__intro">Your matches are people who have experience in what you want to learn <br> and have something to learn from you.</h3>

    <div id="survey-container">
      <h4 class="match-me__question-pre">Tell us what you’d like to learn <br> to start getting matched</h4>
      <h2 class="match-me__question">I would like to learn</h2>

      <ul class="category-buttons">
        <% @surveys.each do | survey | %>
          <%= link_to survey.category.name, fetch_learning_survey_path(:survey_id => survey.id), class: 'category-buttons__item', :remote => true %>
        <% end %>
      </ul>
  </div>
</div>