<div class="signup-panel signup-panel--success panel panel--1 js-active" style="height: 100%">

  <div class="big-icon material-icons">check</div>
  <p>Your profile has been successfully updated.</p>

</div>