<div class="signup-panel signup-panel--success panel panel--1"">

  <div class="big-icon material-icons">check</div>
  <p>Your profile has been successfully updated.</p>

  <%= link_to "Back to My Profile", (url_for({:controller => "users", :action => "fetch_user", :user_id => current_user.id})), :remote => true, class: 'button button--full button--main-color'%>

</div>