<% if user_signed_in? %>
<div class="login-wrapper">
  <div class="login-form">
    <h4 class="login-title">Connect your Account</h4>
      <%= render 'layouts/message_handler' %>
      <p>Connect to the following social media providers for easier access to your Network of Innovators account. You can add or disconnect a provider at any time by editing your profile.</p>


      <%= render "devise/shared/oauth_connect" %>

      <%=link_to "Go to Network of Innovators", root_path, class: "button button--full button--main-color" %>

  </div>
</div>

  
  <% else %>

    <%= render 'devise/registrations/new' %>
    <div class="main-content signup-wall--active "> 
      <div class="signup-wall">
        <p>You need to be signed in <br>to use this feature</p>
      </div>
    </div>

<% end %>
