<div class="signup-panel signup-panel--success panel panel--1 js-active" style="height: 100%; max-width: none!important; padding: 40px">

  <div class="big-icon material-icons">check</div>
  <h2 class="signup-panel__heading signup-panel__content">Success!</h2>
  <p>Logged in successfully!</p>

</div>