<div class="main-content" id="secondary-content"></div>
<div class="main-content" id="primary-content"> <!-- signup-wall--active -->
  <div class="toast toast--yellow js-active main-toast">
    <!-- {# toast--green, toast--red, toast--gray #} -->
    <i class="material-icons toast__close">close</i>
    <h4 class="toast__heading">Welcome to Network of Innovators!</h4>
    <span>The knowledge-exchange network for open government and open data professionals</span>
    <p class="toast__text">
      <ul>
        <li>Ask a question or discuss all things open data &amp; government,</li>
        <li>Find &amp; connect with innovators to get advice on your projects,</li>
        <li>Get matched with others who have experience in what you want to learn!</li>
      </ul>
    </p>
  </div>

  <div class="category-filters row ">
    <p>You can filter the conversation by selecting a topic: </p>
        <%= form_tag(root_path, :method => "get", id: "category-form") do %>
          <label class="select">
            <%= select_tag "category", options_for_select(@categories.map { |c| c != nil ? c['name'].titleize : "" }, @params['category']), { :include_blank => 'All' } %>
          </label>
        <% end %>
      </p>
      <%=link_to "Reset Search", root_path, class:"button button-reset-filters" %>
  </div>

  <%= render 'discourse_posts'%>

  <div class="signup-wall"><p>You need to be signed in <br>to use this feature</p></div>

</div>
