<div class="panel panel--2">
  <div class="panel__content">
    <h1>2</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque voluptatum, excepturi assumenda accusantium dolore quas aut fugit quibusdam odit sunt adipisci hic beatae distinctio? Tenetur, harum? Nihil commodi, culpa soluta.</p>
    <p><a class="js-open-panel-3"><i class="material-icons">arrow_forward</i></a></p>
    <a class="js-close-panel-2"><i class="material-icons">arrow_back</i></a>
  </div>
</div>