<div class="panel panel--3">
  <div class="panel__content">
    <h1>3</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque voluptatum, excepturi assumenda accusantium dolore quas aut fugit quibusdam odit sunt adipisci hic beatae distinctio? Tenetur, harum? Nihil commodi, culpa soluta.</p>
    <a class="js-close-panel-3"><i class="material-icons">arrow_back</i></a>
  </div>
</div>