<div class="signup-panel panel panel--1">
  <h2 class="panel-message panel-message--green js-active">Success</h2>
  <p class="signup-panel__content">
    <a href="/search" class="button button--full button--main-color">Connect with Other Innovators</a>
  </p>
</div>