
<div class="steps">
  <span class="steps__item steps--done steps--current"></span>
  <span class="steps__item"></span>
  <span class="steps__item"></span>
  <span class="steps__item"></span>
</div>



<h4 class="match-me__question-pre">To start getting matched, let’s begin with what you’d like to learn.</h4>

<h2 class="match-me__question">I would like to learn about:</h2>

<ul class="category-buttons">
  <% @surveys.each do | survey | %>
    <%= link_to survey.category.name, fetch_learning_path(:survey_id => survey.id), class: 'category-buttons__item', :remote => true %>
  <% end %>
</ul>
