
<div class="main-content match-me">
  <div class="main-content__container">
    <h3 class="match-me__intro">Your matches are people who have experience in what you want to learn <br> and have something to learn from you.</h3>
    <div class="steps">
      <span class="steps__item steps--done"></span>
      <span class="steps__item steps--done steps--current"></span>
      <span class="steps__item"></span>
      <span class="steps__item"></span>
    </div>
  
    <h2 class="match-me__category-title">Open Data</h2>
    <h2 class="match-me__question">I would like to learn</h2>

    <form action="" class="questionnaire">
      <ul class="list">
        <h5 class="questionnaire__title">Strategy & Planning <span class="questionnaire__check-all button button--alpha button--small">Check All</span></h5>

        <li class="questionnaire__item list__item">
          <input class="questionnaire__item__checkbox" type="checkbox" id="checkbox-1">
          <label class="questionnaire__item__label" for="checkbox-1" >Measuring the economic and/or social impact of opening up data</label>
        </li>
        <li class="questionnaire__item list__item">
          <input class="questionnaire__item__checkbox" type="checkbox" id="checkbox-2">
          <label class="questionnaire__item__label" for="checkbox-2" >Expressing the value proposition of the open data datasets, including what problems can be solved with this data</label>
        </li>
        <li class="questionnaire__item list__item">
          <input class="questionnaire__item__checkbox" type="checkbox" id="checkbox-3">
          <label class="questionnaire__item__label" for="checkbox-3" >Monitoring how my data is being used</label>
        </li>
        <li class="questionnaire__item list__item">
          <input class="questionnaire__item__checkbox" type="checkbox" id="checkbox-4">
          <label class="questionnaire__item__label" for="checkbox-4" >Designing a data collaborative</label>
        </li>

        <h5 class="questionnaire__title">Design <span class="questionnaire__check-all button button--alpha button--small">Check All</span></h5>

        <li class="questionnaire__item list__item">
          <input class="questionnaire__item__checkbox" type="checkbox" id="checkbox-1">
          <label class="questionnaire__item__label" for="checkbox-1" >Measuring the economic and/or social impact of opening up data</label>
        </li>
        <li class="questionnaire__item list__item">
          <input class="questionnaire__item__checkbox" type="checkbox" id="checkbox-2">
          <label class="questionnaire__item__label" for="checkbox-2" >Expressing the value proposition of the open data datasets, including what problems can be solved with this data</label>
        </li>
        <li class="questionnaire__item list__item">
          <input class="questionnaire__item__checkbox" type="checkbox" id="checkbox-3">
          <label class="questionnaire__item__label" for="checkbox-3" >Monitoring how my data is being used</label>
        </li>
        <li class="questionnaire__item list__item">
          <input class="questionnaire__item__checkbox" type="checkbox" id="checkbox-4">
          <label class="questionnaire__item__label" for="checkbox-4" >Designing a data collaborative</label>
        </li>
        <li class="questionnaire__item questionnaire__item--submit list__item">
          {# <button class="button button--main-color" type=submit>Next</button>     #}
          <a href="match-me-3.html" class="button button--main-color">Next</a>    
        </li>
      </ul>

      
    </form>

  </div> 
</div>