
<div class="main-content match-me">
  <div class="main-content__container">
    <h3 class="match-me__intro">Your matches are people who have experience in what you want to learn <br> and have something to learn from you.</h3>
    <div class="steps">
      <span class="steps__item steps--done steps--current"></span>
      <span class="steps__item"></span>
      <span class="steps__item"></span>
      <span class="steps__item"></span>
    </div>



    <div id="survey-container">

    <%= render 'learn_menu' %>
    </div>

  </div>
</div>