
<div class="main-content match-me">
  <div class="main-content__container">
    <h2 class="match-me__title">Match Me</h2>
    <h3 class="match-me__intro">Your matches are people who have experience in what you want to learn and have something to learn from you.</h3>

    <div id="survey-container">

    <%= render 'learn_menu' %>
    </div>

  </div>
</div>