
<div class="main-content match-me">
  <div class="toast toast--yellow js-active">
    <i class="material-icons toast__close">close</i>
    <h4 class="toast__heading">Match Me</h4>
    <p class="toast__text">Your matches are people who have experience in what you want to learn and have something to learn from you.</p>
  </div>

  <div class="main-content__container">
    <div id="survey-container">
      <%= render 'learn_menu' %>
    </div>
  </div>
</div>