<h4 class="match-me__question-pre">Great! Now tell us how you can be helpful to someone else.</h4>

<h2 class="match-me__question">I have experience & can advise others on</h2>

<ul class="category-buttons">
  <% @surveys.each do | survey | %>
    <%= link_to survey.category.name, fetch_teaching_path(:survey_id => survey.id), class: 'category-buttons__item', :remote => true %>
  <% end %>
</ul>
