.category-filters {
  @include breakpoint($small-only) { display: none;}

  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;

  &__item {
    padding: 0;
    width: 25%;
    padding: 10px;
    list-style: none;
    font-size: .7rem;
    margin: 0;
    background-color: $main-color;
    
    text-align: center;
    text-transform: uppercase;
    color: $white;
    font-weight: 600;

    @include breakpoint($medium) {
      &:nth-of-type(1) { background-color: darken($main-color, 2); }
      &:nth-of-type(3) { background-color: darken($main-color, 2); }
      &:nth-of-type(6) { background-color: darken($main-color, 2); }
      &:nth-of-type(8) { background-color: darken($main-color, 2); }
    }

    &:hover,
    &--active { background-color: $accent-color; } // NOTE: Active State for the category filter
  }

}

.category-filters-mobile {
  margin: 0;
  background-color: rgba($main-color, .2);
  color: $main-color;
  font-weight: 600;

  &:before { color: $main-color; }
    
  @include breakpoint($medium) { display: none; }
}
