/* Controls */
.controls {
  margin-top: 18px;
  margin-bottom: 0;

  a { 
    vertical-align: top;
    text-decoration: none; 
    line-height: 1rem;
    display: inline-block;
  }

  &__icon-button {
    @extend .button;
    @extend .button--icon-only;
    @extend .button--small;
    @extend .button--alpha;
    color: $main-color;
    margin-right: 15px;
    padding: 2px !important;
  }
  
  &__button {
    @extend .button;
    @extend .button--small;
    @extend .button--alpha;
    font-weight: 600;
    letter-spacing: 0;
    color: $main-color;
    text-transform: none;
  }

  &__show-more-button {
    float: right;
    font-weight: 600;
    text-transform: uppercase;
    color: rgba(black, .6);
    font-size: .9rem;

    &:hover {color: rgba(black, .8);}

  }
}