a {
  color: currentColor;
  text-decoration: none;
}

body {
  letter-spacing: .5px;
  color: rgba(black, .8);
  // font-family: 'proxima-nova-soft', sans-serif;
  font-weight: 400;
  background-color: #FFF;
  padding: 0;
  margin: 0;
}

// Base Structure

.top-bar {
  height: 60px;
}

.app-wrapper {
  display: flex;
  height: calc(100vh - 60px);
  overflow: hidden;
}

.main-content {
  overflow-y: scroll;
  overflow-x: hidden;
  flex: 1;

  &__container { 
    min-width: 750px;
    display: block;
  }
}



