

h1, h2, h3, h4, h5, h6 {
  font-family: $main-font;
}

a {
  color: currentColor;
  text-decoration: none;

  &:visited {
    color: currentColor;
  }
}

body {
  font-size: 16px;
  font-family: $main-font;
  letter-spacing: .5px;
  color: rgba(black, .8);
  font-weight: 400;
  background-color: #FFF;
  padding: 0;
  margin: 0;
}

// Reseting font-size in form elements
input,
select,
textarea,
button {
  font-size: 16px;
  font-family: $main-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include placeholder {
    font-size: 16px;
    font-family: $main-font;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

[type='text'],
[type='password'],
[type='date'],
[type='datetime'],
[type='datetime-local'],
[type='month'],
[type='week'],
[type='email'],
[type='number'],
[type='search'],
[type='tel'],
[type='time'],
[type='url'],
[type='color'] { height: auto; }

// Base Structure

.top-bar {
  height: 60px;
}

.app-wrapper {
  min-height: calc(100vh - 60px);
  @include breakpoint($medium) { display: flex; }
}

.main-content {
  overflow-x: hidden;
  flex: 1;

  &__container {
    // @include breakpoint($small-only) { height: calc(100vh - 157px); }
    @include breakpoint($medium) { min-width: 650px; }
    @include breakpoint($large) { min-width: 750px; }

    display: block;
    overflow-y: scroll;
  }
}

// Styleguide Updates




.form--negative {
  input[type="text"] {
    background-color: rgba(white, .1);
  }

  .select {
    background-color: rgba($white, .1);
    &:before { color: $white;}
  }

  textarea { border-radius: 0; }

  input:focus,
  textarea:focus,
  .select:focus {
    outline: 1px solid rgba($white, .3);
    background-color: rgba($white, .1) !important;
  }

  .button:hover {
    background-color: $accent-color;
  }
}

.form--negative {
  input,
  select,
  label,
  textarea { color: $white; }

  label {font-size: 1rem;}

  input[type='password'] {
    background-color: $white-10;
    @include placeholder { color: $white; }
    &:focus {
        background-color: $white-20;
        @extend .u-transition;
    }
  }
}


input[type='submit'] { 
  background-color: $main-color;
  color: white;

  &:hover { background-color: $accent-color; }
}

.button {
  &--full {
    display: block;
    width: 100%;
    font-weight: 600;
  }

  &--main-color {
    background-color: $main-color;
    color: white;

    &:hover { background-color: $accent-color; }
  }

  &--alpha {
    background-color: rgba(black, 0);
    &:hover {
      background-color: rgba(black, .2);
    }
  }

  &--small { padding: 6px 8px; }
}





.form {
  .select { display: inline-block; }
  .select[disabled] {
    pointer-events: none;
    opacity: .4;
  }
}

.select:before {
  pointer-events: none;
}

.margin-bottom { margin-bottom: 10px; }
.margin-top { margin-top: 10px; }



.panel .select {
  display: block;
}

.signup-wall { display: none; }

.signup-wall--active {
  position: relative;
  overflow: hidden;

  .signup-wall {
    background-color: rgba(white, .9);
    display: flex;
    align-items: center;
    position: absolute;
    padding: 80px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;

    p {
      text-align: center;
      width: 100%;
      font-size: 1.6rem;
      color: rgba(black, .3);
      text-transform: uppercase;
      font-weight: 400;
    }
  }  
}




