.login-wrapper {
    flex-grow: 1;
    margin: auto;
    height: 100%;
    background-color: lighten($black, 10);
    overflow-y: scroll;
    .login-title {
        color: $white;
    }

    .login-form {
        color: $white;
        width: calc(100% - 40px);
        margin: 0 auto;
        padding: 20px;
    }

    .login-links {
        color: $white;
    }

    .field > * {
        color: $white;
    }

    .field > input {
        background-color: lighten($black, 20);
        &::-webkit-input-placeholder {
            color: $white;
        }
        &::-moz-placeholder {
            color: $white;
        }
        &:-ms-input-placeholder {
            color: $white;
        }
        &:-moz-placeholder {
            color: $white;
        }
    }

    .button {
        &--main-color {
            background-color: #008ab3;
            color: $white;
        }
    }

    .checkbox {
        &--white > * {
            color: $white;
        }
    }
}