.login-wrapper {
    flex: 1;

    background-color: rgba(black, .9);
    overflow-y: scroll;
    align-self: stretch;

    .login-title {
        color: $white;
    }

    .login-form {
        color: $white;
        // width: calc(100% - 40px);
        margin: 0 auto;
        padding: 20px;
        max-width: 400px;
    }

    .login-links {
        color: $white;
    }

    .field > * {
        color: $white;
    }

    .field > input {
        background-color: lighten($black, 20);
        &::-webkit-input-placeholder {
            color: $white;
        }
        &::-moz-placeholder {
            color: $white;
        }
        &:-ms-input-placeholder {
            color: $white;
        }
        &:-moz-placeholder {
            color: $white;
        }
    }

    .field_with_errors > * {
        color: $black;
    }

    .field_with_errors > input {
        background-color: lighten($error-color, 10);
        &::-webkit-input-placeholder {
            color: $black;
        }
        &::-moz-placeholder {
            color: $black;
        }
        &:-ms-input-placeholder {
            color: $black;
        }
        &:-moz-placeholder {
            color: $black;
        }
    }

    .button {
        &--main-color {
            background-color: #008ab3;
            color: $white;
        }
    }

    .checkbox {
        &--white > * {
            color: $white;
        }
    }

    #error_explanation {
        margin: 0;
    }
}

.devise-errors {
    margin: 0 40px;
    .error-title {
        font-size: 16px;
        font-weight: bold;
        color: lighten($error-color, 10);
    }
    .error-messages {
        list-style: none;
        padding: 0;
        margin-left: 0;
        font-size: 14px;
        color: $error-color;
        li {
            margin: 15px 0;
        }
    }
}
