.pagination {
  color: $main-color;
  text-align: center;
  padding: 0.3em;
  cursor: default;
  a, span, em {
    padding: 0.2em 0.5em;
  }
  .disabled { 
    color: $accent-color; 
  }
  .current {
    font-style: normal;
    font-weight: bold;
    color: $accent-color;
  }
  a {
    border: 1px solid $gray-20;
    color: $main-color;
    text-decoration: none; 
    &:hover, &:focus {
      border-color: $gray-20;
      background: $main-color;
      color:white;
    }
  }
}