/* Profile Panel */
.profile-panel {
  @extend .u-base-panel;
  text-align: center;

  &__heading { @extend .u-base-panel__heading; }
  &__content { @extend .u-base-panel__content; }

  &__picture {
    @extend .u-circle;
    margin: 30px auto 20px;
    display: block;
  }

  &__titles {
    
  }

  &__name {
    font-size: 1.4rem;
    margin: 0;
    color: rgba($white, .4);
  }

  &__job {
    font-size: .9rem;
    margin: 0;
    font-weight: 400;
  }

  &__org {
    font-size: .8rem;
    margin: 0;
  }

  &__credentials {
    text-align: left;
    font-size: .8rem;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  &__domains,
  &__location,
  &__lang {
    margin-left: 40px;

    &:before {    
      float: left;
      @extend .u-material-icons;
      font-size: 1.2rem;
      margin-left: -40px;
      opacity: .4;
    }
  }

  &__domains {
    &:before { content: "school"; }
  }

  &__location {
    &:before { content: "place"; }
  }

  &__lang {
    padding: 0;
    &:before { content: "languages"; }
    > li { list-style: none; }
  }

  &__action { 
    @extend .u-base-panel__action; 
    position: absolute;
    bottom: 0;
  }
  &__projects-button,
  &__events-button,
  &__expertise-panel-title { 
    @extend .u-base-panel__action__title; 
    padding: 8px 0 7px;
    text-transform: uppercase;
    position: relative;

    i {
      position: absolute;
      right: 0;
      top: 0;
      padding: 7px 10px 9px;
      &:hover {
        background-color: $accent-color;
      }
    }
  }

  &__projects-button { background-color: rgba($white, .05); }
  
  &__expertise-panel { 
    background-color: rgba($white, .05);
    padding-bottom: 40px;
  }

  &__action__content { @extend .u-base-panel__action__content; }

  &__error {}
  &--success {}
  &--success__heading {}
  &--success__icon {}

  &__action-button { @extend .u-base-panel__action-button; }

  &__add-item {
    @extend .u-base-panel__content;
    text-align: center;
    background-color: rgba(white, .05);
    padding-top: 60px;
    padding-bottom: 60px;
    cursor: pointer;

    .big-icon {
      background-color: white;
      color: black;
    }

    h4 {
      font-size:  1rem;
      font-weight: 800;
    }

    > * {
      opacity: .1;
    }

    &:hover > * {
      opacity: .5;
    }
  }
}