/* Profile Panel */
.profile-panel {
  @extend .u-base-panel;
  text-align: center;

  &__heading { @extend .u-base-panel__heading; }
  &__content { @extend .u-base-panel__content; }

  &__picture {
    @extend .u-circle;
    margin: 30px auto 20px;
    display: block;
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
    background-image: url("http://www.networkofinnovators.org/assets/avatars/nopic-avatar1-8d8a5abc4c5f961d8a028e95ed3c9d9216a92465feef27a98b31a64d0c186cde.jpg");
  }

  &__titles {

  }

  &__name {
    font-size: 1.4rem;
    margin: 0;
    color: rgba($white, .4);
  }

  &__job {
    font-size: .9rem;
    margin: 0;
    font-weight: 400;
  }

  &__org {
    font-size: .8rem;
    margin: 0;
  }

  &__credentials {
    text-align: left;
    font-size: .8rem;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  &__domains,
  &__location,
  &__lang {
    margin-left: 40px;

    &:before {
      float: left;
      @extend .u-material-icons;
      font-size: 1.2rem;
      margin-left: -40px;
      opacity: .4;
    }
  }

  &__domains {
    &:before { content: "school"; }
  }

  &__location {
    &:before { content: "place"; }
  }

  &__lang {
    padding: 0;
    &:before { content: "languages"; }
    > li { list-style: none; }
  }

  &__action {
    @extend .u-base-panel__action;
    position: absolute;
    bottom: 0;
  }
  &__projects-button,
  &__events-button,
  &__expertise-panel-title {
    @extend .u-base-panel__action__title;
    padding: 8px 0 7px;
    text-transform: uppercase;
    position: relative;

    i {
      position: absolute;
      right: 0;
      top: 0;
      padding: 7px 10px 9px;
      &:hover {
        background-color: $accent-color;
      }
    }
  }

  &__events-button { background-color: rgba($white, .05); }

  &__expertise-panel {
    background-color: rgba($white, .05);
  }

  &__action__content { @extend .u-base-panel__action__content; }

  &__error {}
  &--success {}
  &--success__heading {}
  &--success__icon {}

  &__action-button { @extend .u-base-panel__action-button; }

  &__add-item {
    @extend .u-base-panel__content;
    text-align: center;
    // background-color: rgba(white, .05);
    padding-top: 60px;
    padding-bottom: 60px;
    cursor: pointer;

    .big-icon {
      background-color: white;
      color: black;
    }

    h4 {
      font-size:  1rem;
      font-weight: 800;
    }

    > * {
      opacity: .1;
    }

    &:hover > * {
      opacity: .5;
    }
  }

  .panel-nav {
    cursor: pointer;
  }

  .category-tag__skills {
    cursor: pointer;
    &:hover {
      color: $accent-color;
    }
  }
}

.edit-profile {
  padding: 40px;
  h2 {
    padding: 0;
  }
  & input, select {
    color: $white;
    background-color: lighten($black, 20);
  }
  & label {
    color: lighten($black, 80);
  }
  & select {
    border: 0;
  }

  .button {
    &--main-color {
      background-color: #008ab3;
    }
  }
}


// Quick FIXES AND HACKs for this panel

.profile-panel__content .category-tags {
  padding-bottom: 15px;
}

.profile-panel__back {
  &:before {
    content: attr(title);
    font-family: $main-font;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 5px;
    vertical-align: 7px;
    margin-right: 4px;
  }
}