.questionnaire {
  .list__item {
    @include breakpoint($small-only) { padding: 0; } // ugly solution
  }

  &__title {
    color: rgba(black, .5);
    padding: 10px;
    font-size: 1.1rem;
    margin: 0;
    vertical-align: baseline;

    &:not(:first-of-type) {
      margin-top: 20px;
      @include breakpoint($large) { margin-top: 0; }
    }

    @include breakpoint($large) {
      padding: 20px 60px 10px 120px;
    }
  }

  &__check-all {
    float: right;
    font-size: 1rem;
    text-transform: none;
    font-weight: 300;
    vertical-align: baseline;
    @include breakpoint($small-only) { margin-top: -4px; }
  }

  &__item {
    padding: 0;
    @include breakpoint($large) { padding: 0 40px; }
  }

  &__item--submit {
    padding: 0 60px 0 120px;
    text-align: right;
    
    > .button {
      @include breakpoint($small-only) { 
        width: calc(100% - 20px);
        margin: 15px 10px 0;
        text-align: center;
        font-weight: 600;
      }
    }
    
  }

  &__item:nth-of-child(even) {
    background-color: rgba(black, .03);
  }


  &__item__checkbox {
    display: none;
  }

  &__item__label {
    display: block;
    padding: 10px;
    
    
    @include breakpoint($large) { 
      font-weight: 600;
      padding: 20px 20px 20px 80px;
    }
    
    position: relative;

    &:before {
      @include breakpoint($large) { content: 'check'; }
      @extend .u-material-icons;
      position: absolute;
      left: 30px;
      top: 17px;
      color: $green;
      display: none;
    }
  }

  &__item__checkbox:checked ~ &__item__label {
    background-color: rgba($green, .2);
    color: $green;
    
    &:before { display: block !important; }
  }
  
}