/* Question Panel */
.question-panel {
  @extend .u-base-panel;

  &__heading { @extend .u-base-panel__heading; }
  &__content { @extend .u-base-panel__content; }
  
  &__action { 
    @extend .u-base-panel__action;

    &__title:after {
      @extend .u-material-icons;
      content: 'keyboard_arrow_down';
      float: right;
      @extend .u-transition;
    }

    &.js-active {
      .question-panel__action__content {
        max-height: 900px;
        @extend .u-transition;
      }

      .question-panel__action__title:after {
        // content: 'keyboard_arrow_up';
        @extend .u-transition;
        transform: rotate(180deg);

      }
    }
  }
  
  &__action__title { 
    @extend .u-base-panel__action__title; 
  }

  &__action__content { @extend .u-base-panel__action__content; }
  

  &__form {
    input,
    textarea,
    .select { margin-bottom: 25px; }

    textarea { 
      height: 240px; 
      min-height: 240px; 
      max-height: 320px; 
    }
  }

  &__error {}
  &--success {}
  &--success__heading {}
  &--success__icon {}
}