/* Top Bar */
.top-bar {
  box-shadow: 2px 2px 5px rgba($black, .2);
  margin: 0;
  background-color: $main-color;
  position: relative;
  z-index: 101;
  @include breakpoint($large) { padding: 0 0 0 52px; }
  // @include breakpoint($small-only) { height: 68px; }


  display: flex;

  &__search { flex: 1; }

  &__logo {
    width: 50px;
    overflow: hidden;
    @include breakpoint(1015px) {
      width: 400px;
    }
    @extend .u-transition;
    margin: 0;
    padding: 12px 0 8px 10px;
    font-size: 1.4rem;
    line-height: 1;
    text-align: left;

    img {
      height: 34px;
      max-width: none;
    }
  }

  &__user-menu {

  }

  &__search {
    padding: 10px 5px;
    @extend .u-transition;
    @include breakpoint(1015px) { padding: 10px 75px; }
  }
}


.search--negative .search-trigger { background-color: rgba($white, .1) !important; }


/* User Menu */
.user-menu {
  padding-right: 10px;
  @include breakpoint($large) { padding-right: 20px; }

  &--mobile {
    display: block;
    @include breakpoint($large) { display: none; }
  }

  &--desktop {
    display: none;
    @include breakpoint($large) { display: block; }
  }

  .button {
    color: white;
    padding-top: 17px;
    padding-bottom: 17px;
    background-color: transparent;

    &:hover {
      background-color: $accent-color;
    }
  }

  &__item {
    display: inline-block;
    width: 40px;
    color: $white;
    text-align: center;
    vertical-align: top;
    padding: 5px 5px 0;
    margin: 10px 0;
  }

  &__item--messages { margin-right: -4px; }

  &__item--messages,
  &__item--notifications {
    @include breakpoint($small-only) {display: none;}
    opacity: .5;
  }

  &__item--highlighted {
    opacity: 1;
    @include breakpoint($small-only) {display: inline-block;}
  }

  &__item--settings {
    position: relative;
    margin: 0;
    padding: 10px;
    height: auto;
    width: 60px;

    .img {
      @extend .u-circle;
      padding: 0;
      width: 40px;
      height: 40px;
      background-size: cover;
      background-position: center;
      background-image: url("../images/avatars/nopic-avatar1.jpg");
    }

    &.js-active {
      background-color: darken($main-color, 6) !important;
    }
  }

  &__dropdown {
    position: absolute;
    display: none;
    padding: 9px;
    @include breakpoint($small-only) {
      padding: 10px;
    }
    right: 100%;
    top: 0;
    margin: 0;
    text-align: right;
    background-color: darken($main-color, 6) !important;

    .js-active & { display: block; }


    li {
      margin: 0;
      list-style: none;
      padding: 8px 15px;

      &:hover {
        background-color: $accent-color;
      }
    }
  }

}

.search {
  .search__field {
    border: 1px solid transparent;
    box-shadow: 0 0 0 transparent;
    margin-right: -1px;
    &::-webkit-input-placeholder {
      color: $white;
    }
    &::-moz-placeholder {
      color: $white;
    }
    &:-ms-input-placeholder {
      color: $white;
    }
    &:-moz-placeholder {
      color: $white;
    }
  }

  .search-trigger {
    border: 1px solid transparent;
    margin-right: 0;
  }
}

.notification-icon {
  padding-top: 8px;
}
