<div class="login-wrapper">
  <div class="login-form">
		<p>Dear <%= @resource.first_name %>,</p>

		<p>We have some very exciting news: today, at the International Open Data Conference in Madrid, we are launching a new version of the Network of Innovators knowledge network for open government and open data professionals, available at networkofinnovators.org.</p>

		<p>The new version, informed by a summer-long process of human centered design, simplifies peer learning — getting practical advice and answers — from government and civic innovators</p>

		<ul>
		<li>Easily ask and answer questions with the improved Ask a Question feature<li>
		<li>Show off practical experience by highlighting projects in your Profile<li>
		<li>Learn about Open Data and assess your skills with the open data and other expertise questionnaires<li>
		<li>A simplified Match Me feature lets you more easily see innovators that can teach you the skills you want to learn, as well as those who could benefit from your experience and guidance.<li>
		</ul>

		<p>We’ve also taken this opportunity to strengthen and enhance the security of the app. To log in to the new version of Network of Innovators, please reset your password using this link.</p>

		<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

		<p>All of your prior profile and expertise information will still be in your account.</p>

		<p>These are just a few of the improvements to NOI, the skill finder designed to deepen research and understanding of how we learn from one another.</p>

		<p>If you’re at IODC, stop by the GovLab booth or attend our workshop on Friday at 2:30 in Room G to learn more about open data skill building.</p>

		<p>Not at IODC? You can find session summaries and conversation around hot topics from the International Open Data Conference 2016.</p>

		<p>Thank you for being part of the Network of Innovators!</p>

		<p>Sincerely,<br/>
		The GovLab Team</p>
	</div>
</div>